
body {
  background: #474350;
  font-family: 'Macondo Swash Caps', cursive;
  color: white;
  background: url("bg.png");
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.span-col-2 {
  grid-column: span 2 / auto;
}

.span-col-3 {
  grid-column: span 3 / auto;
}

#header {background: ;
  height: 220px;
}


nav {background: #3a0412; height:300px;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #3a0412;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color:#c7efcf;
}
article {background: #5b5b5b}
footer {background: #3a0412;}
